<html>
    <head>
        <title>GPA Tool APIs</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        <h1>GPA Tool APIs</h1>
        <hr>
        <form action="/api/login">
            <input type="text" name="username" value="20195010791" placeholder="用户名">
            <br>
            <input type="password" name="password" value="jw@023813" placeholder="默认密码：jw@身份证后6位">
            <br>
            <input type="text" name="vcode" value="" placeholder="验证码">
            <img src="/vcimg" alt="" srcset="" onclick="((elem)=>{elem.src='/vcimg?'+Math.random();})(this)">
            <br>
            <input type="submit" value="登录">
        </form>
    </body>
</html>